.nav {
  ul {
    display: flex;
    justify-content: space-between;
    li {
      margin-right: 62px;
      &:last-child {
        margin-right: 0;
      }
      > a {
        font-size: 16px;
        color: $dark-blue;
      }
    }
  }
}