.projects__slider.projects-slider
  .projects-slider__image 
    img(:src="project.imgPath", alt="project")
  .projects-slider__track
    div(
      v-for="(item, index) in track.projectList" 
      :key="item.id" 
      :class="[track.itemClass, project.id === item.id ? track.itemClassActive : '']"
      @click="setProject(item.id)"
    )
      img(:src="item.imgPath", alt="track-item")
  .projects-slider__arrows
    .projects-slider__arrow-prev(@click="prev" title="previous")
    .projects-slider__arrow-next(@click="next" title="next")