.projects__slider
  .projects-slider__image 
    img(:src="project.imgPath", alt="project")
  .projects-slider__track
  .projects-slider__arrows
    .projects-slider__arrow-prev
    .projects-slider__arrow-next