-
  var networksList = [
    {
      iconName: 'vk',
      path: 'https://vk.com/nmakarin'
    },
    {
      iconName: 'github',
      path: 'https://github.com/n-makarin'
    },
    {
      iconName: 'insta',
      path: 'https://www.instagram.com/n.makarin'
    }
  ]

.social-networks
  each item, index in networksList 
    a(href=item.path, target="_blank").social-networks__item
      +icon(item.iconName, '')