.projects {
  .container {
    padding-bottom: 262px;
  }
  &__title {
    padding: 101px 0;
    font-size: 36px;
    font-weight: bold;
  }
  &__app {
    display: flex;
  }
  &__slider {
    margin-right: 157px;
  }
}