.title {
  display: flex;
  justify-content: center;
  &__description {
    max-width: 180px;
    margin-right: 62px;
    font-size: 18px;
    font-weight: bolder;
    text-align: right;
    opacity: .4;
    line-height: 1.7;
  }
  &__name {
    max-width: 440px;
    font-size: 72px;
    font-weight: bold;
    line-height: .9;
  }
}